<main class = "index">
    <header class = "masthead d-flex">
        <div class="container text-center my-auto" class = "contenedor">
            <h1 class = "mb-1 tp"> CONTRUCTORA SAC</h1>
            <h3 class = "mb-5 tp">
                <em>Sistema de gestion de obras</em>
            </h3>
            <a href="/login" class = "btn btn-primary">
                Ingrese aqui
            </a>
        </div>
    </header>
</main>